.App-header {
  background-color: #1e345f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.welcome-page {
  width: 100%;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.input-and-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 200px;
  padding-right: 200px;
}

.title {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  font-size: 32px;
}

.town-input {
  width: 50vh;
}

.submit-btn {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.submit-btn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.submit-btn:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
