.App {
  display: flex;
  flex-direction: column;
  background-color: #1e345f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-weather {
  padding-bottom: 50px;
}

.App-header {
  padding-top: 50px;
}

.App-link {
  color: #61dafb;
}

.input-and-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 200px;
  padding-right: 200px;
}

.title {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  font-size: 32px;
}

.town-input {
  width: 50vh;
}
